
#modalstyle {
    position:fixed;
    /* display:none; */
    
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
   
    background-color: rgba(0,0,0,0.5);
}

#modalstyle legend { float: none;}

.modal_body{
    position:fixed;
    display:none;
    top:50%; /*모달을 화면가운데 놓기위함. */
    left:50%; /*모달을 화면가운데 놓기위함. */

    width:75%;  /*모달의 가로크기*/
    height:80%; /*모달의 세로크기 */

    padding:20px;  

    text-align: center;
    justify-content: space-around;
    background-color: #1f2122; /*모달창 배경색 흰색*/
    border-radius:15px; /*테두리*/
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); /*테두리 그림자*/

    transform:translate(-50%,-50%); /*모듈창열었을때 위치설정 가운데로 */
}

#modal_left {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.modal_thumbnail {
    position: static;
    width: 96%;
    height : 54%;
    background-color: #313333;
    border-radius : 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_thumbnail img { 
    max-width: 100%; max-height: 100%; width: auto ; height: 100%; }

.modal_thumbnail iframe { width: 100% ; height: 100%; }

.infoShort {     
    margin: 3% 0%;
    display:flex;
    justify-content: space-between;
    width:96%;
}
.infoShort > div {
    /*border-radius:3px;*/
    /*background-color: gray;*/
    display:flex;
    justify-content: center;
    align-items: end;
    height:30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color:white;
}

/*#releaseDate { */
/*    width:100px;*/
/*}*/

/* 제목 애니메이션 효과 */
.track {position: absolute;
    white-space: nowrap;will-change: transform;animation: marquee 15s linear infinite; }
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
#titleInfo {
    display: block;
    /*padding: 4px;*/
    width:65%;
    /*text-overflow:ellipsis;*/
    overflow-x: hidden; overflow-y: hidden;
    white-space: nowrap;
    font-size: 24px;
    position: relative;
}

#titleInfo::-webkit-scrollbar {
    display:none;
}

#gstar { color : yellow} 

#rate {
    width:50px;
}

#introduction {
    flex:1;
    position:static;
    padding: 30px;
    background-color: #313333;
    width: 96%;
    border-radius: 10px;
    /*-ms-overflow-style: none; /* for Internet Explorer, Edge */
    /*scrollbar-width: none; /* for Firefox */
    overflow-y:scroll;
    word-wrap: break-word;
    text-align: left;
}

#introduction p { font-weight: 600; color:white; font-size: 18px}

#introduction::-webkit-scrollbar {
    display:none;
}

#modal_right {
    background-color: gray;
    width: 45%;
    border-radius: 10px;
}

#comment {
    margin : 3% 0%;
    max-height : 60%;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment::-webkit-scrollbar {
    display:none;
}

#comment_table {
    width:96%;   
    border-radius: 7px;
    border-collapse:unset;
    background-color:#1f2122;
    color:white;
    font-family: 'Poppins', sans-serif;
}

#comment_table thead { position:sticky; top: -1px; }

#comment_table .comment_head, .content_comment {
    background-color: #1f2122;
}

.comment_head:first-child, .comment_head:nth-child(2)
.content_comment:first-child, .content_comment:nth-child(2) { width:15%; }

.content_comment:nth-child(3) {
    overflow: hidden;
    word-break: break-all;
    text-overflow:ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.comment_head:last-child,
.content_comment:last-child { width:10%; }

#write_cmt { font-weight:600; }

/*댓글 등록 파트 (이동협)*/
#commentWrite {
    /*font-weight:bold;*/
    /*color:palevioletred;*/
}

#comment_info {
    display:flex; justify-content: space-between;
}

#userId {
    width: 25%;
}

#star-rating {
    width:20%; justify-content:end;
}

#score {
    width: 100%;
}

#comment_context {
    outline: none;
    width: 95%;
    background-color: transparent;
    height: auto;
    resize: none;
    overflow-y: auto;
    word-wrap: break-word;
    border: none;
    border-bottom: 2px solid #999;
    padding: 5px;
    margin-top: 20px;
}

#comment_context::placeholder {
    color: #000000;
}
#comment_context::-webkit-scrollbar {
    display:none;
}

.write1 .user_name{
    margin-left: 20px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color:palevioletred
}
#star-rating{
    margin-right: 20px;
}
#score{
    background-color: black;
    color: white;
    padding-right: 20px;
}
#logout_comment{
    width: 95%;
    background-color: transparent; /* 배경을 투명하게 설정 */
    border: none;
    border-bottom: 2px solid #999; /* 테두리의 아랫부분만 변경할 색상 및 두께 지정 */
    padding: 5px;
}

#logout_comment::placeholder {
    color: #000000;
}

#go_login{
    background-color: #1f2122;
    border-radius: 15px;
    margin-top: 15px;
    height: 45px;
    width: 150px;
    font-weight: bold;
}

#go_login a{
    color: palevioletred;
}

#comment_submit{
    background-color: #1f2122;
    border-radius: 15px;
    margin-top: 15px;
    height: 40px;
    width: 100px;
    font-weight: bold;
    color: palevioletred;
}

.count_length{
    text-align: right; !important;
    color: white; !important;
    margin-right: 20px;
    font-size: 18px;
}
