
#ryubtn:active:focus {
    box-shadow: none !important;


}

#main {

    background-color: #27292a;
    height: auto;
    display: flex;
}





#login{
    background-color: #27292a;
    border-radius: 23px;
    height: 550px;
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#login-id{
    /* margin-left: 300px; */
    height: 45px; 
    width: 450px; 
    border-radius: 10px;
    font-size: 20px;
    color: #e75e8d;
    margin-bottom: 13px;
    
}

#login-pw{
    /* margin-left: 300px; */
    height: 45px; 
    width: 450px; 
    border-radius: 10px;
    font-size: 20px;
    color: #e75e8d;
    margin-bottom: 13px;
    
}

#login-button{
    /* margin-left: 375px; */
    height: 100px;
    width: 300px;
    background-color: #1f2122;
    border-radius: 23px;
    font-size: 40px;
    color: #e75e8d;
}

#login-form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#modal-h1 {
    color: #e75e8d;
  }

h5 {
    color: #e75e8d;
    margin: 13px 0;
    font-weight :450 ;
  }

#idch-button {
    background-color: #27292a;
    border: none;
    color: #e75e8d;
  }

  .ch {
    background-color: #27292a;
    border-radius: 10px;
    font-size: 20px;
    color: #e75e8d;

  }

  #idsh-pw,#idsh-us,#pash-name,#pwsh-id{
    height: 45px;
    width: 450px;
    border-radius: 10px;
    font-size: 20px;
    color: #e75e8d;

  }

