#introIcon{
    width:20vw; height:30vh;
    border: 1px dashed gray;
    background-color: beige;
}

#modal_main {
    position:absolute;
    /* display:none; */
    
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
   
    background-color: rgba(0,0,0,0.4);
}

.modal_body{
    position:fixed;
    display:none;
    top:50%; /*모달을 화면가운데 놓기위함. */


    width:75%;  /*모달의 가로크기*/
    height:75%; /*모달의 세로크기 */

    padding:20px;  

    text-align: center;
    justify-content: space-around;
    background-color: #1f2122; /*모달창 배경색 흰색*/
    border-radius:15px; /*테두리*/
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); /*테두리 그림자*/

    transform:translateY(-50%); /*모듈창열었을때 위치설정 가운데로 */
}
.modal_thumbnail {
    position: static;
    width: 96%;
    height : 54%;
    background-color: gray;
    border-radius : 10px;
}

.modal_thumbnail img { 
    max-width: 100%; max-height: 100%; width: auto ; height: auto; }

.modal_thumbnail iframe { width: 100% ; height: 100%; }

.infoShort {     
    margin: 1% 0%;
    display:flex;
    justify-content: space-between;
    width:96%;
}
.infoShort > div {
    background-color: gray;
}

#releaseDate { 
    width:50px; height:30px;
}

#rate {
    width:50px; height:30px;
}

#introduction {
    position:static;
    background-color:rgb(46, 45, 41); 
    color:white;
    width: 96%;
    height: 35%;
    border-radius: 10px;
    /*-ms-overflow-style: none; /* for Internet Explorer, Edge */
    /*scrollbar-width: none; /* for Firefox */
    overflow-y:scroll;
    word-wrap: break-word;
}

#introduction::-webkit-scrollbar {
    display:none;
}

#modal_left {
    width: 45%;
}

#modal_right {
    background-color: gray;
    width: 45%;
}

#comment {
    height : 40%;
    overflow-y:scroll;
}

#comment::-webkit-scrollbar {
    display:none;
}

#comment_table {
    width:100%;

}
#comment_table .comment_head {
    background-color: white;
    border-radius : 3px;
}

#comment_table .content_comment {
    background-color: white;
    border-radius : 3px;
}

#comment_day { border: 1px solid black; width:15%; }
#comment_id { border: 1px solid black; width:25%; }
#comment_text { border: 1px solid black; }
#comment_rate { border: 1px solid black; width:10%; }

#commentWrite { font-size:25px; font-weight:bold; color:palevioletred; visibility: hidden;}

#comment_info {
    display:flex; justify-content: space-between;
}

#commentWrite .write1 {
    background-color: white; border-radius:3px; display: flex;
}

#userId {
    width: 25%;
}

#star-rating {
    width:20%; justify-content:end;
}
#score {
    width: 15%
}
#comment_context {
    width:99%; height:5em; 
    overflow-y:scroll; word-wrap: break-word;
}
#comment_context::-webkit-scrollbar {
    display:none;
}


/*
    CSS TO_DO LIST(02.23~25)
    1. Modal창 화면 분할 (영상, 댓글, 평점, 방영일자, 제목 등등 항목 별 div 나누기)

    2. div 항목 별 링크로 예상되는 것 들 걸어보기 (a href / link / ...)
*/
