#main {

    background-color: #27292a;
    height: auto;
  }


  #selectuser {
    background-color: #27292a;
    border-radius: 23px;
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  #select-id {
    height: 45px;
    width: 450px;
    border-radius: 10px;
    font-size: 20px;
    color: #e75e8d;

  }


  #select-us {
    height: 45px;
    width: 450px;
    border-radius: 10px;
    font-size: 20px;
    color: #e75e8d;

  }

  #update-button {
    height: 100px;
    width: 300px;
    background-color: #27292a;
    border-radius: 23px;
    font-size: 40px;
    color: #e75e8d;
  }

  h3,
  h4 {
    color: #e75e8d;
    margin: 10px 0;
  }



  #update-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  #modal-h1 {
    color: #e75e8d;
  }

  #update-pw {
    height: 45px;
    width: 450px;
    border-radius: 10px;
    font-size: 20px;
    color: #e75e8d;

  }

  #update-pw2 {
    height: 45px;
    width: 450px;
    border-radius: 10px;
    font-size: 20px;
    color: #e75e8d;

  }

  #update-us {
    height: 45px;
    width: 450px;
    border-radius: 10px;
    font-size: 20px;
    color: #e75e8d;

  }

  .ch {
    background-color: #27292a;
    border-radius: 10px;
    font-size: 20px;
    color: #e75e8d;

  }