<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Modal Window</title>
    <link rel=stylesheet href="../static/css/animodal.css">
</head>

<body>
    <div class="modal" name="modal">
        <div class="modal_body">
            <div class="modal_part" id="modal_left">
            </div>
            <div class="modal_part" id="modal_right">
               <fieldset id="comment">
                    <legend>
                        <h3>평론</h3>
                    </legend>
                    <table id="comment_table">
                     </table>
                 </fieldset>
                <div th:if="${session.loginUser == null}">
                    <input id="logout_comment" placeholder="댓글을 남기려면 로그인을 해주세요" readonly>
                    <br>
                    <button id="go_login">
                        <a href="/login">로그인 하러 가기</a>
                    </button>
                </div>
                <fieldset th:if="${session.loginUser != null}" id="commentWrite">
                     <input type="hidden" name="anipk">
                     <div id="comment_info">
                         <div class="write1" id="userId">
                             <div class="user_name" th:text="${session.loginUser.name}"></div>
                         </div>
                         <div class="write1" id="star-rating">
                             <select id="score">
                                 <option value="1" selected>1</option>
                                 <option value="2">2</option>
                                 <option value="3">3</option>
                                 <option value="4">4</option>
                                 <option value="5">5</option>
                                 <option value="6">6</option>
                                 <option value="7">7</option>
                                 <option value="8">8</option>
                                 <option value="9">9</option>
                                 <option value="10">10</option>
                             </select>
                         </div>
                     </div>
                     <textarea rows="1" id="comment_context" oninput='resizeTextarea(); checkLength();' placeholder="평가를 남겨주세요"></textarea>
                    <br>
                    <div class="count_length">
                        글자 수 : <b id="changeLength"></b>/250
                    </div>
                     <button type="button" onclick="writeCompleteComment()" id="comment_submit">댓글 등록</button>
                 </fieldset>
            </div>
        </div>
    </div>
    <script src = "./static/js/aniModalInfo.js"></script>
</body>
</html>