<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./static/js/login.js"></script>
    <script src="./static/js/header.js"></script>
    <script src="./static/js/getGrade.js"></script>
    <script th:if="${session.loginUser == null}">
        loginched();
    </script>
     <script th:if="${session.loginUser != null}">
         update();
    </script>
</head>

<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/main" class="logo">
                            <img src="./static/images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Search End ***** -->
                        <div class="search-input">
                            <form id="search" action="/search" method="get">
                                <input type="text" placeholder="애니메이션 제목을 입력하세요" id='searchText' name="keyword" />
                                <i class="fa fa-search"></i>
                            </form>

                        </div>
                        <!-- ***** Search End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/main">Home</a></li>
                            <li><a href="/allAniList">Season</a></li>
                            <li th:if="${session.loginUser == null}"><a href="/login">Login
                                    &nbsp;</a></li>
                            <li th:if="${session.loginUser != null}"><a href="/logout">로그아웃</a></li>
                            <li th:if="${session.loginUser != null}"><a href="/selectuser">회원정보 &nbsp;</a></li>

                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
</body>

</html>