<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모달창연습</title>
    <link rel=stylesheet href="../static/css/part_modal.css">
</head>

<body>
    <div class="modal" name="modal">
        <div class="modal_body">
            <div class="modal_part" id="modal_left">
            </div>
            <div class="modal_part" id="modal_right">
               <fieldset id="comment">
                    <legend>
                        <h3>평론</h3>
                    </legend>
                    <table id="comment_table">
                        <!--   <tr>
                             <th class="comment_head" id="comment_day">날짜</th>
                             <th class="comment_head" id="comment_id">닉네임</th>
                             <th class="comment_head" id="comment_text">내용</th>
                             <th class="comment_head" id="comment_rate">평점</th>
                         </tr>
                         <tr>
                             <td class="content_comment" id="comment_day"></td>
                             <td class="content_comment" id="comment_id"></td>
                             <td class="content_comment" id="comment_text"></td>
                             <td class="content_comment" id="comment_rate"></td>
                         </tr> -->
                     </table>
                 </fieldset>
                <div th:if="${session.loginUser == null}">
                    <input id="logoutComment"placeholder="댓글을 남기려면 로그인을 해주세요" readonly>
                    <button>
                        <a href="/login">로그인 하러 가기</a>
                    </button>
                </div>
                <fieldset th:if="${session.loginUser != null}" id="commentWrite">
                     <input type="hidden" name="anipk">
                     <div id="comment_info">
                         <div class="write1" id="userId">
                             <input name="" placeholder="닉네임" th:value="${session.loginUser && session.loginUser.name}" />
                         </div>
                         <div class="write1" id="star-rating">
                                <!-- 일단... number로.. -->
                             <input type="number" id="score" min="1" max="10" placeholder="별점" />
                         </div>
                     </div>
                     <textarea id="comment_context" placeholder="평가를 남겨주세요"></textarea>
                     <button type="button" onclick="writeCompleteComment()">댓글 등록</button>
                 </fieldset>
            </div>
        </div>
    </div>
    <script src = "./static/js/detail_info.js"></script>
</body>
</html>