<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모달창연습</title>
    <link rel=stylesheet href="../static/css/part_modal.css">
</head>

<body>
    <div id="introIcon">
        <a href=""></a>애니 소개 아이콘
    </div>
    <div class="modal" name="modal">
        <div class="modal_body">
            <div class="modal_part" id="modal_left">
                <div class="modal_thumbnail">
                    <a href="">영상링크</a>
                </div>
                <div class="infoShort">
                    <div id="releaseDate">
                        <a href="">방영 일자</a>
                    </div>
                    <div id="titleInfo">
                        <a href="">제목</a>
                    </div>
                    <div id="rate">
                        <img src="">평점<a href=""></a>
                    </div>
                </div>
                <article id="introduction">
                    <h3>줄거리 간략 소개</h3>
                    <link href="">
                    <p>
                        ddddddddddddddddddddddddddddsadsadsadasdsadasdddddddddddddddddddddddasddadsadsadasdsadsadddddddddddddddddddddddddddddasdsadasdsadasdddddddddddddddddddddddddddddddddddddddddddsadsadsadasdsadasdddddddddddddddddddddddasddadsadsadasdsadsadddddddddddddddddddddddddddddasdsadasdsadasddddddddddddddd
                    </p>
                </article>
            </div>
            <div class="modal_part" id="modal_right">
                <fieldset id="comment">
                    <legend>
                        <h3>평론</h3>
                    </legend>
                    <table id="comment_table">
                        <tr>
                            <th class="comment_head" id="comment_day">날짜</th>
                            <th class="comment_head" id="comment_id">닉네임</th>
                            <th class="comment_head" id="comment_text">내용</th>
                            <th class="comment_head" id="comment_rate">평점</th>
                        </tr>
                        <tr>
                            <td class="content_comment" id="comment_day"></td>
                            <td class="content_comment" id="comment_id"></td>
                            <td class="content_comment" id="comment_text"></td>
                            <td class="content_comment" id="comment_rate"></td>
                        </tr>
                    </table>
                    <button id="write_cmt" onclick="writeComment()">댓글 쓰기</button>
                </fieldset>
                <fieldset id="commentWrite">평가 작성하기
                    <div id="comment_info">
                        <div class="write1" id="userId">
                            <input placeholder="닉네임" />
                        </div>
                        <div class="write1" id="star-rating">
                            <input type="radio" placeholder="별점" />
                            <input id="score" placeholder="평점" />
                        </div>
                    </div>
                    <textarea id="comment_context" placeholder="평가를 남겨주세요"></textarea>
                    <!-- <section id="comment_context" >
                            <input type="text" placeholder="평가를 남겨주세요" />
                        </section> -->
                    <button type="submit" onclick="writeCompleteComment()">댓글 등록</button>
                </fieldset>
            </div>
        </div>
    </div>
    <script>
        const modal = document.querySelector('.modal');
        const divModal = document.querySelector('#introIcon');
        const commentOpen = document.querySelector('#commentWrite');

        divModal.addEventListener("click", () => {
            modal.style.display = "flex";
            modal.style.visibility = 'visible';
        });

        window.addEventListener("click", (e) => {
            e.target === modal ? modal.style.visibility = 'hidden' : false;
            e.target === modal ? commentOpen.style.visibility = 'hidden' : false;

        })

        function writeComment() {
            commentOpen.style.visibility = 'visible';
        }
    </script>
    <script src = "./static/js/detail_info.js"></script>

</html>